<div class="mb-3 banner-dyna d-flex justify-content-center align-items-center" style="background-image: url('<%= asset_path(@list.name.downcase + '.jpg') %>');">
  <h2 class="text-white"><%= @list.name %></h2>
</div>

<div class="container">
  <div class="d-flex justify-content-end align-items-center mb-3">
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-success text-white" %>
  </div>

  <ul class="row list-unstyled justify-content-around">
    <% @list.movies.each do |movie| %>
    <div class="movie-card p-0 mb-3" style="width: 28rem;">
      <img class="card-img-top card-img" src=<%=movie.poster_url%> alt="Card image cap">
      <div class="card-body p-3">
        <li>
          <div class="d-flex card-title">
            <h5 class=""><%= movie.title %></h5>
            <p class="ms-2">- <%= movie.rating %>/10 ⭐️</p>
          </div>
          <p class="card-text"><%= movie.overview%> </p>

          <% selected_bookmark = movie.bookmarks.select { |bookmark| bookmark.list == @list } %>
          <div class="d-flex justify-content-between">
            <p><%= selected_bookmark.first.comment %></p>
            <%= link_to "Delete", list_bookmark_path(@list,selected_bookmark.first),data: {turbo_method: :delete, turbo_confirm: "are you sure ?"}%>
          </div>

        </li>
      </div>
    </div>
    <% end %>
  </ul>
</div>
