<%# <div class="mb-3 banner-dyna d-flex flex-column justify-content-center align-items-center" style="background-image: url('<%= asset_path(@list.name.downcase + '.jpg') %> <%#');"> %>
<div class="mb-3 banner-dyna d-flex flex-column justify-content-center align-items-center" style="background-image: url('<%=cl_image_path @list.photo.key %>')">
  <h2 class="text-white fw-bolder fs-1"><%= @list.name %></h2>
  <p class="btn btn-info fw-bold text-white justify-content-end"> <%= @list.movies.count %> movies</p>
</div>

<div class="container">
  <div class="d-flex justify-content-end align-items-center mb-3">
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-success text-white" %>
  </div>

  <ul class="row list-unstyled justify-content-start">
    <% @list.movies.each do |movie| %>
    <div class="movie-card p-0 mx-3 mb-3 d-flex flex-column" style="width: 26rem;">
      <img class="card-img-top card-img" src=<%=movie.poster_url%> alt="Card image cap">
      <div class="p-3 h-100 d-flex flex-column flex-grow-1">
        <li class="h-100 d-flex flex-column">
          <div class="d-flex card-title">
            <h5 class="fw-bolder fs-5"><%= movie.title %></h5>
            <p class="ms-2 mb-0 text-secondary">• <%= movie.rating %>/10 ⭐️</p>
          </div>
          <p class="card-text flex-grow-1"><%= movie.overview%> </p>

          <% selected_bookmark = movie.bookmarks.select { |bookmark| bookmark.list == @list } %>
          <div class="d-flex justify-content-between mt-auto">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-quote-left me-2"></i>
              <p class="mb-0 card-bottom"><%= selected_bookmark.first.comment %></p>
            </div>
            <%= link_to "delete", list_bookmark_path(@list,selected_bookmark.first),data: {turbo_method: :delete, turbo_confirm: "are you sure ?"}, class: "text-danger card-bottom fw-bold text-decoration-none mb-0"%>
          </div>

        </li>
      </div>
    </div>
    <% end %>
  </ul>
</div>
